<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords"
        content="software development, technology, blog, portfolio, services, web development, software engineering">
  <meta name="author" content="Geovanny Cordero">

  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/favicon.ico">
  <!-- TODO: review image -->

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/favicon.ico">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600" rel="stylesheet"
        type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
